<div class="row">
  <div class="col-auto">
    <img src="{{avatar}}" alt="{{image_alt}}">
    <h2>Welcome, {{name}}</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="project-name" name="title" required/>
      </div>
      <div class="form-group">
        <label for="blog-image">Profile Picture:</label>
        <input class="form-input" type="file" name="image" id="blog-image"/>
      </div>
      <div class="form-group">
        <label for="blog-content">Blog Content:</label>
        <textarea class="form-input" id="blog-content" name="content" required></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Blog</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 blog-list">
    <h3>Your Posted Blogs:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
