<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>Updated on {{format_date date_modified}}</p>
  <p>{{content}}</p>
  <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p>

    {{#if comments.length}}
    <h3>Blog Comments:</h3>

    {{#each comments as |comment|}}
      <p>{{comment.comment}}</p>
      <p>Posted on {{format_date date_posted}} by {{comment.writer}}</p>
    {{/each}}
  </div>
  {{/if}}
</div>
