
<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>Updated on {{format_date date_modified}}</p>
  <p>{{content}}</p>
  
  {{#if comments.length}}
    <div class="container">
      <h3>Blog Comments:</h3>

      {{#each comments as |comment|}}
        <div data-number="{{comment.id}}" data-comment="{{@index}}">
          <p id="comment{{@index}}">{{comment.comment}}</p>
          <p>Posted on {{format_date date_posted}} by {{comment.writer}}</p>
          {{#if comment.isAllowed}}
            <button id="update">Update</button>
            <button id="delete">Delete</button>
          {{/if}}
        </div>       
      {{/each}}
    </div>
  {{/if}}

  {{#if logged_in}}
    <p>
      <button class="btn btn-primary" id="newComment">Add Comment</button>
    </p>

    <!-- The New Comment Modal -->
    <div id="commentModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h2>{{title}}</h2>
        </div>
        <div class="modal-body">
          <textarea class="comment-textarea" placeholder="New Comment"></textarea>
        </div>
          <button id="cancel">Cancel</button>
          <button id="addComment" data-index="{{id}}">Submit</button>
          <button id="updateComment" data-index="{{id}}" class="no-display">Update</button>
      </div>

    </div>

    <!-- The Error Feedback Modal -->
    <div id="errorModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header bg-danger">
          <h2>SYSTEM ERROR!</h2>
        </div>
        <div class="modal-body">
          <p id="commentError"></p>
        </div>
          <button id="okay">Okay</button>
      </div>

    </div>

    <script src="/js/comments.js"></script>
  {{/if}}
  
</div>





